html{
    width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 1440px;
    margin: 0 auto;
    height: 900px;
    background: url(../images/bg-desktop.png);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    background-size: contain;
}

.header {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}

.header img {
    color: var(--white);
    margin-left: 70px;
    height: 50px;
}

.main {
    display: flex;
}

.main .mockups {
    padding: 30px 0px 0px 30px;
    margin-left: 40px;
}

.main .connections {
    color: var(--white);
}

.main .connections h1 {
    padding: 55px 55px 20px 30px;
    margin-top: 20px;
    font-size: 45px;
}

.main .connections p {
    margin: 0px 35px 10px 0px;
    padding: 0px 30px 0px 30px;
    font-size: 20px;
}

.main .connections .btn-button {
    padding: 10px 35px;
    border-radius: 20px;
    margin-left: 30px;    
    transition: 0.3s;
}

.main .connections .btn-button:hover {
    color: var(--white);
    background-color: var(--Soft-Magenta);
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 80px;
    height: 30px;
}

.social i {
    color: var(--white);
    transition: 0.3s;
    font-size: 18px;
    padding: 7px 7px 5px 9px;
    margin: 10px 10px 10px 10px;
    border: 1.5px solid var(--white);
    border-radius: 50%;
}

.social i:hover {
    color: var(--Soft-Magenta);
    border: 1.5px solid;
    border-radius: 50%;
}

